body{
    background:#f4f6f9;
}

.card{
    border-radius:15px;
}

.card-header{
    border-radius:15px 15px 0 0 !important;
}

.form-control,
.form-select{
    height:50px;
    border-radius:10px;
}

textarea.form-control{
    height:auto;
}

.btn{
    border-radius:10px;
    font-weight:600;
}

.form-control:focus,
.form-select:focus{
    box-shadow:none;
    border-color:#0d6efd;
}