*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #edf2f7;
}

/* Sidebar */

.sidebar{
    position: fixed;
    width: 260px;
    height: 100vh;
    background: #0f172a;
    color: white;
    padding: 20px;
    overflow-y: auto;
}

.logo{
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #334155;
    padding-bottom: 20px;
}

.logo h2{
    color: #38bdf8;
}

.logo p{
    margin-top: 10px;
    color: #94a3b8;
}

.sidebar ul{
    list-style: none;
}

.sidebar ul li{
    padding: 15px;
    margin-top: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.sidebar ul li:hover{
    background: #1e293b;
    padding-left: 20px;
}

.sidebar ul li i{
    margin-right: 10px;
}

.active{
    background: #2563eb;
}

.title{
    margin-top: 20px;
    color: #94a3b8;
    font-size: 14px;
    cursor: default !important;
}

.title:hover{
    background: none !important;
    padding-left: 15px !important;
}

.sub-menu{
    margin-left: 15px;
    font-size: 15px;
}

/* Main */

.main{
    margin-left: 260px;
}

/* Topbar */

.topbar{
    background: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 10px rgba(0,0,0,.1);
}

.topbar h3{
    color: #0f172a;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* Cards */

.dashboard-card{
    padding: 25px;
    border: none;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,.08);
    transition: .3s;
}

.dashboard-card:hover{
    transform: translateY(-5px);
}

.dashboard-card h5{
    color: gray;
}

.dashboard-card h1{
    margin-top: 10px;
    color: #2563eb;
}

/* Normal Card */

.card{
    border: none;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,.08);
}

/* Table */

table{
    margin-top: 15px;
}

table th{
    background: #f1f5f9;
}

/* Menu Button */

#menu-btn{
    display: none;
    border: none;
    background: #2563eb;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
}

/* Responsive */

@media(max-width:991px){

    .sidebar{
        left: -260px;
        transition: .3s;
        z-index: 1000;
    }

    .sidebar.show{
        left: 0;
    }

    .main{
        margin-left: 0;
    }

    #menu-btn{
        display: block;
    }

    .topbar{
        padding: 15px;
    }

}